body {
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
	color: white;
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding: 14%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h1	{
	font-weight: 700;
	font-size: 5em;
}

hr	{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,.2)
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: grey;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: black;
}

  .navbar-default {
    background-color: black;
    border-color: grey;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: black;
   text-decoration: none;
  background-color: black;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: white; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }